/* Color Theme Swatches in Hex */
.Open-cardboard-box-closeup-1-hex {
  color: #f2b885;
}
.Open-cardboard-box-closeup-2-hex {
  color: #733917;
}
.Open-cardboard-box-closeup-3-hex {
  color: #a66844;
}
.Open-cardboard-box-closeup-4-hex {
  color: #f2ad85;
}
.Open-cardboard-box-closeup-5-hex {
  color: #f2f2f2;
}
